{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
{{parent()}}

	<body>
		<div class="col padding-body">
			<div
				class="row">
				<!-- Premiere colonne contenant des icons et lien menant au site en question -->
				<div class="col-lg padding-col text-center">
					<div>
						<img src="./Image/my picture.png" class="rounded ps-5 d-none d-lg-block" alt="image paysage">
					</div>
					<div class="mt-3">
						<a class="btn background-button m-1 rounded-3 p-2" href="https://github.com/MaximeRichard78" target="_blank" role="button"><img src="./Image/github-svgrepo-com 1.svg" alt="logo git"></a>
						<a class="btn background-button m-1 rounded-3 p-2" href="https://www.linkedin.com/in/maxime-richard78/" target="_blank" role="button"><img src="./Image/linkedin-svgrepo-com 1.svg" alt="logo linkedin"></a>
						<a class="btn background-button m-1 rounded-3 p-2" href="https://www.figma.com/file/lzn1wy75uuUsHJP69CYj0a/Portfolio?type=design&node-id=0-1&mode=design&t=dm88YEDNO5GRNo1j-0" target="_blank" role="button"><img src="./Image/figma-svgrepo-com 1.svg" alt="logo figma"></a>
					</div>
				</div>
				<!-- Seconde colonne contenant certaine info -->
				<div class="col-lg padding-col text-center">
					<h1 class="pb-5 text-start">A propos de moi</h1>
					<br>
					<p class="text-start">Je suis un developpeur junior, j’adore avoir un code bien agencer 
										J’ai commencer a ecrire du code quand j’avais 22 ans lors de mes etudes.
										Quand je ne travail pas je joue sur mon téléphone une heure ... ou deux.</p>
					<p class="text-start">N’hesitez pas a m’envoyer un mail si vous avez des questions ou 
                                        si vous voulez me rencontrer</p>
				</div>
			</div>
		</div>
	</body>
</div></div></body>{% endblock %}
