{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
{{parent()}}

	<body>
		<div class="col padding-body text-center">
			<h1 class="mt-2 pb-5">A propos de cette page</h1>
			<div class="pt-4 ps-lg-5 ps-0 pe-lg-5 pe-0">
				<p>J’ai fais cette page moi meme sur figma pour ensuite la reproduire en version web</p>
				<p>Si vous voyez un chose a améliorer ou a ajouter du moment que c’est un avis 
                constructif il est le bienvenue</p>
				<p>L’idée est de ne pas surcharger les pages tout en ayant les infos nécéssaire</p>
			</div>
			<div class="my-5 py-5">
				<a class="btn btn-dark me-1 rounded-3 p-2" href="https://github.com/MaximeRichard78/" target="_blank" role="button"><img src="./Image/github-svgrepo-com 1.svg" alt="logo git"></a>
				<a class="btn btn-dark me-1 rounded-3 p-2" href="https://www.figma.com/file/lzn1wy75uuUsHJP69CYj0a/Portfolio?type=design&node-id=0-1&mode=design&t=dm88YEDNO5GRNo1j-0" target="_blank" role="button"><img src="./Image/figma-svgrepo-com 1.svg" alt="logo figma"></a>
			</div>
			<footer>
				<a class="btn btn-dark me-1 rounded-3 p-2" href="https://github.com/MaximeRichard78/2PHPDSymfony" target="_blank" role="button">si vous voulez voir le code voici mon git</a>
			</footer>
		</div>
	</body>
</div></div></body>{% endblock %}
