{% extends 'base.html.twig' %}

{% block title %}Hello WorkController!{% endblock %}

{% block body %}
<body>
		<div class="col padding-body">
			<div
				class="row">
				<!-- Premier colonne contenant des informations -->
				<div class="col padding-col">
					<h1>Mes formations</h1>
					<h6 class="pb-5 text-light opacity-25">MODUS S.A. (1 yr 9 mos)</h6>
					<h6 class="pb-4 pt-5">Senior .NET Developer</h6>
					<h6 class="pb-4">MAY 2023 - PRESENT (3 months)</h6>
					<h6>Develops and maintains services handling business logic.Created both desktop and web applications for internal use by the company.</h6>
				</div>
				<div class="col padding-col">
					<h1>Mes experiences</h1>
					<h6 class="pb-5 text-light opacity-25">MODUS S.A. (1 yr 9 mos)</h6>
					<h6 class="pb-4 pt-5">Senior .NET Developer</h6>
					<h6 class="pb-4">MAY 2023 - PRESENT (3 months)</h6>
					<h6>Develops and maintains services handling business logic.Created both desktop and web applications for internal use by the company.</h6>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
